{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Secret Stories{% endblock title %}</title>
        <link rel = "stylesheet" href = "{% static 'css/base.css' %}">
        <link rel= "preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Side Bar -->
        <div class = "sidebar">
            <div class = "iconbox">
                <img src = "{% static 'images/writeIcon' %}" alt = "write"/>
            </div>
            <div class = "iconbox">
                <img src = "{% static 'images/reading' %}" alt = "write"/>
            </div>
            <div class = "iconbox">
                <img src = "{% static 'images/account' %}" alt = "write"/>
            </div>
        </div>

        <!-- Block Content -->
        {% block content %}
        {% endblock content %}


        <!---------------- Scripts ---------------->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = ""></script>
    </body>
</html>