<!DOCTYPE html>
<html>
    <head>
        <title>Secret Stories</title>
        <link rel = "stylesheet" href = "css/landing.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "titlePage">
            <h1 class = "titleText">SECRET STORIES</h1>
            <h4 class = "additionText">"Stories shared by strangers for strangers"</h4>
        </div>
        <div class = "icondivs">
            <div class = "iconbox">
                <a href = "writepage.html">
                    <div class = "imagebox">
                        <img src = "images/writeIcon.svg" alt = "write">
                    </div>
                </a>
                <div class = "description">
                    <h2>WRITE</h2>
                    <p>Anonymously share your stories, feelings, passions and secrets for strangers to read. Let your words be seen by everyone!</p>
                </div>
            </div>
            <div class = "iconbox">
                <a href = "readpage.html">
                    <div class = "imagebox">
                        <img src = "images/reading.svg" alt = "write">
                    </div>
                </a>
                <div class = "description">
                    <h2>READ</h2>
                    <p>Browse through the collection of stories from strangers on the internet. Enter the thoughts and heart of those who wished to be heard.</p>
                </div>
            </div>
            <div class = "iconbox">
                <a href = "accountpage.html">
                    <div class = "imagebox">
                        <img src = "images/account.svg" alt = "write">
                    </div>
                </a>
                <div class = "description">
                    <h2>LOGIN</h2>
                    <p>Save your stories for you to visit again! You can edit and delete your stories. Furthermore, there's the option of letting yourself be known to the world!</p>
                </div>
            </div>
        </div>
        <div class = "questioncontainer">
            <h1>Frequently asked Questions</h1>
            <div class = "fullcontainer">
                <div class = "singlecontainer">
                    <div class = "questionbox">
                        <button class = "collapsible">What is this website?</button>
                        <div class = "colcontent">
                            <p>
                                This is a website where you could share story anonymously for the people on the internet to see!
                            </p>
                        </div>
                        <img class = "arrow" src = "images/arrow.svg" alt = "arrow"/>
                    </div>
                    <div class = "questionbox">
                        <button class = "collapsible">Can I post a story immediately?</button>
                        <div class = "colcontent">
                            <p>
                                Absolutely! You don't have to have an account to share a story! Just go directly to the <a>write</a> page and you're good to go!
                            </p>
                        </div> 
                        <img class = "arrow" src = "images/arrow.svg" alt = "arrow"/>
                    </div>
                </div>
                <div class = "singlecontainer">
                    <div class = "questionbox">
                        <button class = "collapsible">Can I post anything?</button>
                        <div class = "colcontent">
                            <p>
                                You can share anything you want! You can share funny stories, inner feelings, deepest darkest secrets and you can even vent out your emotions here! No one is going to judge you at all here. 
                            </p>
                        </div> 
                        <img class = "arrow" src = "images/arrow.svg" alt = "arrow"/>
                    </div>
                    <div class = "questionbox">    
                        <button class = "collapsible">Why is there an account page? Isn't it anonymous?</button>
                        <div class = "colcontent">
                            <p>
                                The account page allows the user to save and delete stories they have shared. There's even an option of sharing your story in any name you'd like!
                            </p>
                        </div>   
                        <img class = "arrow" src = "images/arrow.svg" alt = "arrow"/>       
                    </div>
                    <div class = "questionbox">    
                        <button class = "collapsible">Can I comment on someone's story?</button>
                        <div class = "colcontent">
                            <p>
                                Unfortunately, the comment option is unavailable here since we would for the story sharer to have a sense of anonimity. No one can judge your story for what it is. 
                            </p>
                        </div>   
                        <img class = "arrow" src = "images/arrow.svg" alt = "arrow"/>       
                    </div>
                </div>
            </div>
        </div>
        <div class = "footer">
            made by a stranger &copy;
        </div>

        <!---------------- Scripts ---------------->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "js/landing.js"></script>
    </body>
</html>