{% extends '_base.html' %}
{% load static %}
{% block title %} Browse {% endblock title %}
{% block content %}
<link rel = "stylesheet" href = "{% static 'css/reading.css' %}">
<div class = "mainbar">
    <h1>Secret Stories</h1>
    <div class = "storiescontainer">
        {% for story in stories %}
        <div class = "storybox" >
            <a href = "{{ story.get_absolute_url }}">
                <h4>{{ story.title|slice:":30" }}</h4>
                <p>{{ story.content|slice:":400" }}</p>
                <div class = "infobox">
                    <p>Anonymous | {{ story.date }}</p>
                </div>
            </a>
        </div>
        {% endfor %}   
    </div>
</div>
{% endblock content %}