{% extends '_base.html' %}
{% load static %}
{% block title %} Browse {% endblock title %}
{% block content %}
<link rel = "stylesheet" href = "{% static 'css/writing.css' %}">
<div class = "mainbar">
    <div class = "titleblock">
        <input type = "text">
    </div>
    <form class = "bodyblock">
        <textarea></textarea>
    </form>
    <div class = "buttonblock">
        <input type = "submit" value = "RESET">
        <input type = "submit" value = "SHARE">
    </div>
</div>
{% endblock content %}