.mainbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 12;
    padding-top: 60px;
    margin-left: 140px;
    font-size: 2.8rem;
    overflow-x: hidden;
}


.storiescontainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap;
    margin-left: 120px;
    margin-top: 40px;
}

.storybox{
    background-color: rgba(60, 39, 39, 0.72);
    border-radius: 10%;
    height: 370px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin: 50px 40px;
    position: relative;
}

.storybox h4{
    font-size: 1.4rem;
    margin-top: 10px;
}

.storybox p{
    font-size: 0.9rem;
    margin-top: 20px;
}

.infobox{
    position: absolute;
    bottom: 0;
    left: 1;
    font-size: 10rem;
    height: 15px;
    color: rgba(255,255,255,0.5);
}

a{
    text-decoration: none;
    color: white;
}